
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Top 5 Leagues";
}

<H1 class="HeaderText-h1" ; id="about_project">About Project</H1>
<div style="color:red">
    <p><mark>"The game of life is a lot like football. You have to tackle your problems, block your fears, and score your points when you get the opportunity."</mark></p>
</div>
<p class="ImportantInfo" style="color:red">FOOTBALL FANCLUBHOUSE is the leading Website about football events all around the world!</p>
<p>The most popular football leagues You can find on our site:</p>
<ul>
    <li id="EPL"><b><i>English Premier League(EPL)</i></b></li>
</ul>
<img src="https://www.101greatgoals.com/wp-content/uploads/2017/03/new-premier-league-logo-2016-17-8.jpg" class="RoundedImage" width="420" height="380" align="right">
<div>
    <p>The Premier League is the top level of the English football league system. Contested by twenty clubs, it operates on a system of promotion and relegation with the English Football League (EFL).</p>
    <p>The Premier League is a corporation in which the member clubs act as shareholders. Seasons run from August to May with each team playing 38 matches (playing each other home and away).Most games are played on Saturday and Sunday afternoons. It is often known outside England as the English Premier League (EPL).</p>
    <p>The competition was formed as the FA Premier League on 20 February 1992 following the decision of clubs in the Football League First Division to break away from the Football League, founded in 1888, and take advantage of a lucrative television rights deal.</p>

    <p>The Premier League is the most-watched sports league in the world, broadcast in 212 territories to 643 million homes and a potential TV audience of 4.7 billion people.</p>

    <p>Forty-nine clubs have competed since the inception of the Premier League in 1992. Six of them have won the title:</p>
    <ol>
        <li>Manchester United (13)</li>
        <li>Chelsea (5)</li>
        <li>Arsenal (3)</li>
        <li>Manchester City (2)</li>
        <li>Blackburn Rovers (1)</li>
        <li>Leicester City (1)</li>
    </ol>
</div>



<ul>
    <li id="Liga BBVA"><b><i>Spanish La Liga(Liga BBVA)</i></b></li>
</ul>
<img src="http://plusfutbol.es/wp-content/uploads/2015/04/liga-bbva-2014-2015-620x400.jpg" class="RoundedImage" width="420" height="380" align="right">
<div>
    <p>The Primera División, commonly known as La Liga and as La Liga Santander for sponsorship reasons with Santander, is the top professional association football division of the Spanish football league system. Administrated by the Liga de Fútbol Profesional (LFP), La Liga is contested by 20 teams, with the three lowest-placed teams relegated to the Segunda División and replaced by the top two teams in that division plus the winner of a play-off.</p>

    <p>total of 62 teams have competed in La Liga since its inception. Nine teams have been crowned champions, with Real Madrid winning the title a record 33 times and Barcelona 24 times. After Athletic Bilbao claimed several titles in the league's early years, Real Madrid dominated the championship from the 1950s through to the 1980s, when Athletic and neighbours Real Sociedad each won the league twice. From the 1990s onwards, Barcelona (14 titles) and Real Madrid (9 titles) were both prominent, though La Liga also saw other champions, including Atlético Madrid, Valencia, and Deportivo de La Coruña. In the 2010s, Atlético Madrid became increasingly strong, forming a trio alongside Real Madrid and Barcelona which occupied the podium places exclusively.</p>

    <p>According to UEFA's league coefficient, La Liga has been the top league in Europe over the last five years and has led Europe for more years (13) than any other country. It has also produced the continent's top-rated club more times (20) than any other league, more than double that of second-placed Serie A. Its clubs have won the most UEFA Champions League (17), UEFA Europa League (10), UEFA Super Cup (14), and FIFA Club World Cup (6) titles, and its players have accumulated the highest number of (FIFA) Ballon d'Or awards (19).</p>
</div>



<ul>
    <li id="League 1"><b><i>French League 1</i></b></li>
</ul>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Ligue1.svg/2000px-Ligue1.svg.png" class="RoundedImage" width="420" height="380" align="right">
<div>
    <p>Ligue 1 (French pronunciation: ​[liɡ œ̃]), also called Ligue 1 Conforama for sponsorship reasons with Conforama, is a French professional league for men's association football clubs. At the top of the French football league system, it is the country's primary football competition. Administrated by the Ligue de Football Professionnel, Ligue 1 is contested by 20 clubs and operates on a system of promotion and relegation with Ligue 2.</p>

    <p>Seasons run from August to May. Teams play 38 matches each (playing each team in the league twice, home and away), totaling 38 matches in the season. Most games are played on Saturdays and Sundays, with a few games played during weekday evenings. Play is regularly suspended the last weekend before Christmas for two weeks before returning in the second week of January. Ligue 1 is one of the top national leagues, currently ranked fifth in Europe behind Spain's La Liga, England's Premier League, Italy's Serie A and Germany's Bundesliga.</p>

    <p>Ligue 1 was inaugurated on 11 September 1932 under the name National before switching to Division 1 after a year of existence. The name lasted until 2002 before switching to its current name. AS Saint-Étienne is the most successful club with ten league titles in France while Olympique Lyonnais is the club that has won the most consecutive titles (seven between 2002 and 2008). With the presence of 68 seasons in Ligue 1, Olympique de Marseille hold the record for most seasons among the elite, while FC Nantes and Paris Saint-Germain hold the league record for longevity with 44 consecutive seasons (respectively, 1963–2007 and 1974 until at least 2018). The current champions are AS Monaco FC, who won their eighth title in the 2016–17 season.</p>
</div>


<ul>
    <li id="Bundesliga"><b><i>German Bundesliga</i></b></li>
</ul>
<img src="http://4.bp.blogspot.com/-wumnC-FeJN0/U87Ng9BAWEI/AAAAAAAAC6I/07HkbDi3V9c/s1600/Logo+Bundesliga.png" class="RoundedImage" width="420" height="380" align="right">
<div>
    <p>The Bundesliga [ˈbʊndəsˌliːɡa] (lit. English: "Federal League", sometimes referred to as the Fußball-Bundesliga [ˈfuːsbal ˈbʊndəsˌliːɡa] or 1. Bundesliga [ˈeːɐ̯stə ˈbʊndəsˌliːɡa]) is a professional association football league in Germany and the football league with the highest average stadium attendance worldwide. At the top of the German football league system, the Bundesliga is Germany's primary football competition. The Bundesliga comprises 18 teams and operates on a system of promotion and relegation with the 2. Bundesliga. Seasons run from August to May. Most games are played on Saturdays and Sundays, with a few games played on weekdays. All of the Bundesliga clubs qualify for the DFB-Pokal. The winner of the Bundesliga qualifies for the DFL-Supercup.</p>

    <p>A total of 54 clubs have competed in the Bundesliga since its founding. Bayern Munich has won the Bundesliga the most, winning the title 26 times. However, the Bundesliga has seen other champions with Borussia Dortmund, Hamburger SV, Werder Bremen, Borussia Mönchengladbach and VfB Stuttgart most prominent among them. The Bundesliga is one of the top national leagues, ranked second in Europe according to UEFA's league coefficient ranking at the end of the 2016–17 season, based on performances in European competitions over the past five seasons. The Bundesliga is the number-one football league in the world in terms of average attendance; out of all sports, its average of 45,134 fans per game during the 2011–12 season was the second highest of any sports league in the world after the American National Football League. The Bundesliga is broadcast on television in over 200 countries.</p>

    <p>The Bundesliga was founded in 1962 in Dortmund and the first season started in 1963. The structure and organisation of the Bundesliga along with Germany's other football leagues have undergone frequent changes right up to the present day. The Bundesliga was founded by the Deutscher Fußball-Bund (English: German Football Association), but is now operated by the Deutsche Fußball Liga (English: German Football League).</p>
</div>


<ul>
    <li id="Serie A"><b><i>Italian Serie A</i></b></li>
</ul>
<img src="http://www.egypttoday.com/images/larg/28522.jpg" class="RoundedImage" width="420" height="380" align="right">
<div>
    <p>Serie A (Italian pronunciation: [ˈsɛːrje ˈa]), also called Serie A TIM due to sponsorship by TIM, is a professional league competition for football clubs located at the top of the Italian football league system and the winner is awarded the Coppa Campioni d'Italia. It has been operating for over eighty years since the 1929–30 season. It had been organized by Lega Calcio until 2010, when the Lega Serie A was created for the 2010–11 season.</p>

    <p>Serie A is regarded as one of the best football leagues in the world and it is often depicted as the most tactical national league. Serie A is the world's second-strongest national league according to IFFHS and has produced the highest number of European Cup finalists: Italian clubs have reached the final of the competition on a record 27 different occasions, winning the title 12 times. Serie A is ranked third among European leagues according to UEFA's league coefficient, behind La Liga, the Premier League and ahead of the Bundesliga and the Ligue 1, which is based on the performance of Italian clubs in the Champions League and the Europa League during the last five years. Serie A led the UEFA ranking from 1986 to 1988 and from 1990 to 1999.</p>

    <p>In its current format, the Italian Football Championship was revised from having regional and interregional rounds, to a single-tier league from the 1929–30 season onwards. The championship titles won prior to 1929 are officially recognised by FIGC with the same weighting as titles that were subsequently awarded. However, the 1945–46 season, when the league was played over two geographical groups due to the ravages of WWII, is not statistically considered, even if its title is fully official. All the winning teams are recognised with the title of Campione d'Italia ("Champion of Italy"), which is ratified by the Lega Serie A before the start of the next edition of the championship.</p>

    <p>The league hosts three of the world's most famous clubs as Juventus, Milan and Internazionale, all founding members of the G-14, a group which represented the largest and most prestigious European football clubs since 2000 to 2008, being the first two cited also founding members of its successive organisation, European Club Association (ECA). More players have won the coveted Ballon d'Or award while playing at a Serie A club than any other league in the world – although Spain's La Liga has the highest total number of Ballon d'Or winners including the FIFA Ballon d'Or. Juventus, Italy's most successful club of the 20th century and the most successful Italian team, is tied for fourth in Europe and eighth in the world with the most official international titles. The club is also the only one in the world to have won all possible official confederation competitions. Milan is joint third club for official international titles won in the world, with 18. Internazionale, following their achievements in the 2009–10 season, became the first Italian team to have achieved a treble. Juventus, Milan and Inter, along with Roma, Fiorentina, Lazio and Napoli, are known as the Seven Sisters of Italian football.</p>

    <p>Serie A is one of the most storied football leagues in the world. Of the 100 greatest footballers in history chosen by FourFourTwo magazine in 2017, 42 players have played in Serie A, more than any other league in the world.</p>
</div>
